@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font: 400 16px/1.8 $base-font;
  color: $font-color;
}
