@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font: 400 16px/30px $base-font;
  color: $font-color;
}

a {
  text-decoration: none;
  color: $links-color;
}

input,
button {
  outline: none;
  border: none;
}

table {
  border-collapse: collapse;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding: 0;
}

#about {
  text-align: center;

  img {
    margin-bottom: 19px;
  }

  h3 {
    margin-bottom: 17px;
    letter-spacing: 3px;
    color: #353738;
  }

  p {
    margin: 0 202px 135px 235px;
    font-size: 18px;
    line-height: 1.9;

    @include screen(1024) {
      line-height: 25px;
      margin: 0 25px 40px;
    }
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;

  @include screen(680) {
    flex-direction: column;
  }
}

.row__first .col-33 {
  width: 30%;

  @include screen(680) {
    width: 100%;
  }
}

.col {
  flex-shrink: 0;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  min-height: 267px;

  &--fullheight {
    @extend .col;

    .row {
      height: 100%;
    }
  }
  &.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  &__img {
    position: absolute;
    min-width: 102%;
    min-height: 102%;
    width: auto;
    max-width: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include screen(320) {
      max-width: 100%;
    }
  }

  &__icon--hidden {
    opacity: 0;
    transition: 0.3s;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(100, 194, 158, 0.8);
  }

  &__icon {
    position: relative;
    z-index: 10;
    left: -2%;
  }

  &__link {
    display: block;
  }

  &__text {
    padding: 70px 28px 90px 65px;
    background: $white;
    text-align: center;
    position: relative;

    & img {
      margin: 0 0 15px 5px;
    }

    &:after {
      content: "";
      position: absolute;
      left: calc(50% + 10px);
      top: 100%;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 10px 0 10px;
      border-color: $white transparent transparent transparent;
      z-index: 1;

      @include screen(1024) {
        left: calc(50% - 10px);
      }
    }

    h4 {
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 3.5px;
      margin: 0px 0 8px 6px;
      color: #353738;
    }

    p {
      text-align: justify;
      position: relative;
      padding-left: 0;
      color: #848789;

      &:after {
        content: "";
        width: 51px;
        height: 1px;
        position: absolute;
        left: calc(50% - 25px);
        background-color: rgba(53, 55, 56, 0.2);
        top: 184px;

        @include screen(1024) {
          display: none;
        }
      }
    }

    @include screen(1024) {
      padding: 25px;
      line-height: 20px;
    }
  }

  &__static-img {
    height: 200px;
    position: relative;
    overflow: hidden;
  }
}
.row__second {
  flex-direction: row-reverse;

  @include screen(680) {
    flex-direction: column;
  }

  & .col-33 {
    width: 29.7%;

    @include screen(680) {
      width: 100%;
    }
  }

  & .col__text {
    padding: 62px 69px 100px 27px;

    @include screen(1024) {
      padding: 25px;
    }

    &:after {
      left: calc(42% + 9px);
    }
  }

  img {
    margin-bottom: 12px;
  }

  p {
    letter-spacing: -0.1px;
  }

  .col__img {
    left: 52%;

    @include screen(680) {
      left: 50%;
    }
  }

  .col__icon {
    left: 2%;
    top: 1%;
  }
}

.row__third {
  .col-33 {
    width: 30%;

    @include screen(680) {
      width: 100%;
    }
  }

  .col__icon {
    left: 24.5%;
    top: 44.5%;

    @include screen(680) {
      left: 35%;
      padding-top: 103px;
    }

    @include screen(500) {
      left: 30%;
    }

    @include screen(321) {
      left: 18%;
    }
  }

  .col__central {
    width: 33%;

    @include screen(680) {
      width: 100%;
    }

    .col__text {
      padding: 58px 69px 99px 69px;
      letter-spacing: -0.1px;

      @include screen(1024) {
        padding: 25px;
      }

      @include screen(1024) {
        font-size: 14px;
      }

      img {
        margin-bottom: 7px;
      }

      &:after {
        left: calc(50% + -11px);
      }
    }
  }

  .col__right {
    width: 30.2%;

    @include screen(680) {
      width: 100%;
    }
  }

  p {
    letter-spacing: 1;
  }
}

.col-100 {
  @extend .col;
  width: 100%;
}

.col-66 {
  @extend .col;
  width: 65%;

  @include screen(768) {
    width: 40%;
  }

  @include screen(680) {
    width: 100%;
  }
}

.col-50 {
  @extend .col;
  width: 50%;

  @include screen(1024) {
    width: 100%;
  }
}

.col-33 {
  @extend .col;
  width: 33.3%;
}

#work {
  margin-bottom: 125px;

  @include screen(1024) {
    margin-bottom: 50px;
  }
}

#shop {
  .row {
    flex-direction: row;

    @include screen(500) {
      flex-direction: column;
    }
  }

  text-align: center;

  .reviews {
    img {
      margin-bottom: 20px;
    }

    h3 {
      color: #353738;
      letter-spacing: 2.5px;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 14px;

      @include screen(1024) {
        letter-spacing: 2px;
        font-size: 15px;
        margin-bottom: 10px;
      }

      span {
        color: #848789;
        font-weight: 300;
      }
    }

    p {
      font-size: 24px;
      line-height: 1.4;
      font-style: italic;
      padding: 0 197px 0 230px;

      @include screen(1024) {
        font-size: 18px;
        padding: 0 220px;
      }

      @include screen(768) {
        padding: 0 100px;
      }

      @include screen(320) {
        padding: 0 50px;
      }
    }

    &__slider {
      padding-bottom: 119px;
      margin-bottom: 60px;

      @include screen(1024) {
        margin-bottom: 20px;
      }

      @include screen(768) {
        padding-bottom: 60px;
      }
    }

    .swiper-pagination {
      bottom: 0;

      &-bullet {
        width: 11px;
        height: 11px;
        border: 1px solid #c9c9c9;
        background: none;
        opacity: 1;

        &-active {
          @extend .swiper-pagination-bullet;
          background: #a9afb3;
          border-color: #a9afb3;
        }
      }
    }
  }
}

#subscribe {
  text-align: center;
  img {
    margin-bottom: 22px;

    @include screen(768) {
      margin-bottom: 10px;
      width: 10%;
    }

    @include screen(320) {
      width: 20%;
    }
  }

  p {
    font-size: 24px;
    line-height: 34px;
    font-style: italic;
    color: $font-color;
    margin-bottom: 31px;

    @include screen(768) {
      margin-bottom: 15px;
    }
  }

  form {
    margin-bottom: 100px;
  }
  input {
    letter-spacing: -0.5px;
    font-size: 20px;
    line-height: 24px;
    font-style: italic;
    padding: 22px 144px 20px 23px;
    border: 1px solid #d3d7d9;
    margin-right: 4px;

    @include screen(1024) {
      padding: 10px 60px;
      font-size: 16px;
    }

    @include screen(320) {
      padding: 5px 30px;
      font-size: 14px;
    }

    &::placeholder {
      color: #929292;
    }
  }
  button {
    padding: 20px 41px;
    margin-left: 5px;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: $white;
    background-color: $green;
    border: 1px solid $green;
    transition: 0.3s;

    @include screen(1024) {
      padding: 10px 20px;
      font-size: 16px;
    }

    @include screen(1024) {
      padding: 5px 15px;
      font-size: 14px;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}
