.banner {
  min-height: 776px;
  background: url("../images/banner.jpg") no-repeat 50% 100%;
  background-size: cover;
  margin-bottom: 115px;

  @include screen(1024) {
    background-position: 50% 20%;
    height: 380px;
    min-height: 0;
    margin-bottom: 50px;
  }

  @include screen(768) {
    margin-bottom: 30px;
    height: 250px;
  }
}
